{% extends "base.html" %}
{% block title %}Студенты{% endblock %}
{% block content %}
    <h1>Студенты</h1>
    <p>Всего: {{ students|length }}.</p>
    <div class="cards-grid">
        {% for item in students %}
            <article class="card">
                <div class="card-body">
                    <span>{{ item.student.group }}</span>
                    <h2>{{ item.student.name }}</h2>
                    <p>Докладов: {{ item.talk_count }}</p>
                    <a href="{% url 'students:detail' item.student.id %}">Доклады студента →</a>
                </div>
            </article>
        {% empty %}
            <p>Записей пока нет</p>
        {% endfor %}
    </div>
{% endblock %}
